dashboard/Dashboard_Bandejas.json
[{"id":"e197d001.cd2f8","type":"tab","label":"Dashboard / Bandejas","disabled":false,"info":""},{"id":"a1ad4d82.30435","type":"ui_template","z":"e197d001.cd2f8","group":"6adf7ffd.64ab38","name":"bandeja","order":2,"width":0,"height":0,"format":"<div ng-value=\"\nnumero=msg.payload;\nfilas1=(numero-numero%6)/6;\nfilas0=(72-numero-(72-numero)%6)/6;\nfilasX=12-filas1-filas0;\nx1=numero%6;\nx0=6-x1\">\n<table>\n    <tr ng-repeat=\"r in [].constructor(filas1) track by $index\">\n        <td ng-repeat=\"c in [].constructor(6) track by $index\"><span class=\"dotg\"></span></td>\n    </tr>\n    <tr ng-repeat=\"r in [].constructor(filasX) track by $index\">\n        <td ng-repeat=\"c in [].constructor(x1) track by $index\"><span class=\"dotg\"></span></td>\n        <td ng-repeat=\"c in [].constructor(x0) track by $index\"><span class=\"dotw\"></td>\n    </tr>\n    <tr ng-repeat=\"r in [].constructor(filas0) track by $index\">\n        <td ng-repeat=\"c in [].constructor(6) track by $index\"><span class=\"dotw\"></td>\n    </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":480,"y":340,"wires":[[]],"icon":"font-awesome/fa-columns"},{"id":"8e6e43b9.e5c028","type":"ui_text","z":"e197d001.cd2f8","group":"6adf7ffd.64ab38","order":3,"width":0,"height":0,"name":"","label":"Plantines en bandeja: ","format":"{{msg.payload}}","layout":"row-center","x":520,"y":380,"wires":[]},{"id":"2e4e3b47.f5f194","type":"ui_text","z":"e197d001.cd2f8","group":"6adf7ffd.64ab38","order":4,"width":0,"height":0,"name":"","label":"Contador de bandejas: ","format":"{{msg.payload}}","layout":"row-center","x":520,"y":420,"wires":[]},{"id":"7e5d9a3f.afba7c","type":"ui_text","z":"e197d001.cd2f8","group":"6adf7ffd.64ab38","order":1,"width":0,"height":0,"name":"","label":"Reposición activada: ","format":"{{msg.payload}}","layout":"row-center","x":520,"y":300,"wires":[]},{"id":"b4e0c2c5.cbf93","type":"ui_template","z":"e197d001.cd2f8","group":"8a89ea98.bff1c8","name":"bandeja","order":2,"width":0,"height":0,"format":"<div ng-value=\"\nnumero=msg.payload;\nfilas1=(numero-numero%6)/6;\nfilas0=(72-numero-(72-numero)%6)/6;\nfilasX=12-filas1-filas0;\nx1=numero%6;\nx0=6-x1\">\n<table>\n    <tr ng-repeat=\"r in [].constructor(filas1) track by $index\">\n        <td ng-repeat=\"c in [].constructor(6) track by $index\"><span class=\"dotg\"></span></td>\n    </tr>\n    <tr ng-repeat=\"r in [].constructor(filasX) track by $index\">\n        <td ng-repeat=\"c in [].constructor(x1) track by $index\"><span class=\"dotg\"></span></td>\n        <td ng-repeat=\"c in [].constructor(x0) track by $index\"><span class=\"dotw\"></span></td>\n    </tr>\n    <tr ng-repeat=\"r in [].constructor(filas0) track by $index\">\n        <td ng-repeat=\"c in [].constructor(6) track by $index\"><span class=\"dotw\"></span></td>\n    </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":480,"y":540,"wires":[[]],"icon":"font-awesome/fa-columns"},{"id":"964815a7.3ab02","type":"ui_text","z":"e197d001.cd2f8","group":"8a89ea98.bff1c8","order":3,"width":0,"height":0,"name":"","label":"Plantines en bandeja: ","format":"{{msg.payload}}","layout":"row-center","x":520,"y":580,"wires":[]},{"id":"4ca7f1df.8b7ac8","type":"ui_text","z":"e197d001.cd2f8","group":"8a89ea98.bff1c8","order":4,"width":0,"height":0,"name":"","label":"Contador de bandejas: ","format":"{{msg.payload}}","layout":"row-center","x":520,"y":620,"wires":[]},{"id":"a1d66d90.d7d5b","type":"ui_text","z":"e197d001.cd2f8","group":"8a89ea98.bff1c8","order":1,"width":0,"height":0,"name":"","label":"Reposición activada: ","format":"{{msg.payload}}","layout":"row-center","x":520,"y":500,"wires":[]},{"id":"a2c93cec.2745e","type":"ui_template","z":"e197d001.cd2f8","group":"1c8ffd79.a393bb","name":"bandeja","order":3,"width":0,"height":0,"format":"<div ng-value=\"\nnumero=msg.payload;\nfilas1=(numero-numero%6)/6;\nfilas0=(72-numero-(72-numero)%6)/6;\nfilasX=12-filas1-filas0;\nx1=numero%6;\nx0=6-x1;\">\n<table>\n    <tr ng-repeat=\"r in [].constructor(filas0) track by $index\">\n        <td ng-repeat=\"c in [].constructor(6) track by $index\"><span class=\"dotw\"></span></td>\n    </tr>\n    <tr ng-repeat=\"r in [].constructor(filasX) track by $index\">\n        <td ng-repeat=\"c in [].constructor(6) track by $index\">\n            <span ng-if=\"($index%2==1 && x1>$index/2) || ($index%2==0 && x1-3>$index/2)\" class=\"dotgray\"></span>\n        </td>\n    </tr>\n    <tr ng-repeat=\"r in [].constructor(filas1) track by $index\">\n        <td ng-repeat=\"c in [].constructor(6) track by $index\"><span class=\"dotgray\"></span></td>\n    </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":480,"y":160,"wires":[[]],"icon":"font-awesome/fa-columns"},{"id":"3725cb1c.e1b174","type":"ui_text","z":"e197d001.cd2f8","group":"1c8ffd79.a393bb","order":5,"width":0,"height":0,"name":"","label":"Plantines en bandeja: ","format":"{{msg.payload}}","layout":"row-center","x":520,"y":200,"wires":[]},{"id":"3023d7c7.d2638","type":"ui_text","z":"e197d001.cd2f8","group":"1c8ffd79.a393bb","order":6,"width":0,"height":0,"name":"","label":"Contador de bandejas: ","format":"{{msg.payload}}","layout":"row-center","x":520,"y":240,"wires":[]},{"id":"8d19fd9e.2878d8","type":"ui_text","z":"e197d001.cd2f8","group":"1c8ffd79.a393bb","order":2,"width":0,"height":0,"name":"","label":"Reposición activada: ","format":"{{msg.payload}}","layout":"row-center","x":520,"y":120,"wires":[]},{"id":"5f3367e3.0e94f","type":"ui_template","z":"e197d001.cd2f8","group":"20111312.93dc2c","name":"bandeja","order":2,"width":0,"height":0,"format":"<div ng-value=\"\nnumero=msg.payload;\nfilas1=(numero-numero%6)/6;\nfilas0=(72-numero-(72-numero)%6)/6;\nfilasX=12-filas1-filas0;\nx1=numero%6;\nx0=6-x1\">\n<table>\n    <tr ng-repeat=\"r in [].constructor(filas1) track by $index\">\n        <td ng-repeat=\"c in [].constructor(6) track by $index\"><span class=\"dotg\"></span></td>\n    </tr>\n    <tr ng-repeat=\"r in [].constructor(filasX) track by $index\">\n        <td ng-repeat=\"c in [].constructor(x1) track by $index\"><span class=\"dotg\"></span></td>\n        <td ng-repeat=\"c in [].constructor(x0) track by $index\"><span class=\"dotw\"></span></td>\n    </tr>\n    <tr ng-repeat=\"r in [].constructor(filas0) track by $index\">\n        <td ng-repeat=\"c in [].constructor(6) track by $index\"><span class=\"dotw\"></span></td>\n    </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":480,"y":740,"wires":[[]],"icon":"font-awesome/fa-columns"},{"id":"c3e363b9.a4243","type":"ui_text","z":"e197d001.cd2f8","group":"20111312.93dc2c","order":3,"width":0,"height":0,"name":"","label":"Plantines en bandeja: ","format":"{{msg.payload}}","layout":"row-center","x":520,"y":780,"wires":[]},{"id":"55d4bd12.917d7c","type":"ui_text","z":"e197d001.cd2f8","group":"20111312.93dc2c","order":4,"width":0,"height":0,"name":"","label":"Contador de bandejas: ","format":"{{msg.payload}}","layout":"row-center","x":520,"y":820,"wires":[]},{"id":"eab5000b.92e5a8","type":"ui_text","z":"e197d001.cd2f8","group":"20111312.93dc2c","order":1,"width":0,"height":0,"name":"","label":"Reposición activada: ","format":"{{msg.payload}}","layout":"row-center","x":520,"y":700,"wires":[]},{"id":"f34e7df.ac6a88","type":"mqtt in","z":"e197d001.cd2f8","name":"","topic":"robot/bandejas/alimentadora/porprocesar","qos":"1","datatype":"auto","broker":"f7ee2fac.70559","x":200,"y":200,"wires":[["a2c93cec.2745e","3725cb1c.e1b174"]]},{"id":"21749dbd.fa282a","type":"mqtt in","z":"e197d001.cd2f8","name":"","topic":"robot/bandejas/alimentadora/reposicion","qos":"1","datatype":"auto","broker":"f7ee2fac.70559","nl":false,"rap":false,"x":190,"y":120,"wires":[["8d19fd9e.2878d8"]]},{"id":"6043faf6.bb6984","type":"mqtt in","z":"e197d001.cd2f8","name":"","topic":"robot/bandejas/alimentadora/bandejas","qos":"1","datatype":"auto","broker":"f7ee2fac.70559","x":190,"y":240,"wires":[["3023d7c7.d2638"]]},{"id":"1eed7f66.0d1341","type":"mqtt in","z":"e197d001.cd2f8","name":"","topic":"robot/bandejas/claseA/reposicion","qos":"1","datatype":"auto","broker":"f7ee2fac.70559","x":210,"y":300,"wires":[["7e5d9a3f.afba7c"]]},{"id":"43644f37.cb2ea","type":"mqtt in","z":"e197d001.cd2f8","name":"","topic":"robot/bandejas/claseA/cantidad","qos":"1","datatype":"auto","broker":"f7ee2fac.70559","x":210,"y":380,"wires":[["a1ad4d82.30435","8e6e43b9.e5c028"]]},{"id":"f83af28e.5363d","type":"mqtt in","z":"e197d001.cd2f8","name":"","topic":"robot/bandejas/claseA/bandejas","qos":"1","datatype":"auto","broker":"f7ee2fac.70559","x":210,"y":420,"wires":[["2e4e3b47.f5f194"]]},{"id":"492aafc0.224c48","type":"mqtt in","z":"e197d001.cd2f8","name":"","topic":"robot/bandejas/claseB/reposicion","qos":"1","datatype":"auto","broker":"f7ee2fac.70559","x":210,"y":500,"wires":[["a1d66d90.d7d5b"]]},{"id":"9ae3eeac.debf38","type":"mqtt in","z":"e197d001.cd2f8","name":"","topic":"robot/bandejas/claseB/cantidad","qos":"1","datatype":"auto","broker":"f7ee2fac.70559","x":210,"y":580,"wires":[["b4e0c2c5.cbf93","964815a7.3ab02"]]},{"id":"71a13ed9.89a848","type":"mqtt in","z":"e197d001.cd2f8","name":"","topic":"robot/bandejas/claseB/bandejas","qos":"1","datatype":"auto","broker":"f7ee2fac.70559","x":210,"y":620,"wires":[["4ca7f1df.8b7ac8"]]},{"id":"229dd730.a6bb9","type":"mqtt in","z":"e197d001.cd2f8","name":"","topic":"robot/bandejas/claseC/reposicion","qos":"1","datatype":"auto","broker":"f7ee2fac.70559","x":210,"y":700,"wires":[["eab5000b.92e5a8"]]},{"id":"9dd00050.2b5778","type":"mqtt in","z":"e197d001.cd2f8","name":"","topic":"robot/bandejas/claseC/cantidad","qos":"1","datatype":"auto","broker":"f7ee2fac.70559","x":210,"y":780,"wires":[["5f3367e3.0e94f","c3e363b9.a4243"]]},{"id":"2142f2a0.bec0e6","type":"mqtt in","z":"e197d001.cd2f8","name":"","topic":"robot/bandejas/claseC/bandejas","qos":"1","datatype":"auto","broker":"f7ee2fac.70559","x":210,"y":820,"wires":[["55d4bd12.917d7c"]]},{"id":"982aec1c.a63bb8","type":"ui_template","z":"e197d001.cd2f8","group":"1c8ffd79.a393bb","name":"Hoja de estilos","order":1,"width":0,"height":0,"format":"<style>\n.dotg {\n  height: 14px;\n  width: 14px;\n  background-color: #44AA44;\n  border-radius: 50%;\n  display: block;\n}\n.dotgray {\n  height: 14px;\n  width: 14px;\n  background-color: #7C7C7C;\n  border-radius: 50%;\n  display: block;\n}\n.dotw {\n  height: 14px;\n  width: 14px;\n  background-color: #FFFFFF;\n  border-radius: 50%;\n  display: block;\n}\ntable, th, td {\n    border: 1px solid #CCCCAA;\n    border-collapse: collapse;\n    font-size: small;\n    padding: 1px 8px 1px 8px;\n    margin-left: auto;\n    margin-right: auto;\n    margin-top: 8px;\n}\n.nr-dashboard-cardtitle {\n    text-align: center;\n}\n.nr-dashboard-cardtitle {\n    margin-bottom: -7px !important;\n}\n.nr-dashboard-cardpanel {\n    margin-bottom: 20px;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":520,"y":20,"wires":[[]]},{"id":"26d9fad2.30ad8e","type":"ui_template","z":"e197d001.cd2f8","group":"bec0768f.7d07d8","name":"Imagen plantin 1","order":1,"width":0,"height":0,"format":"<img src=\"/{{msg.payload}}\" \nstyle=\"width: 78px; height: 78px; margin-left: auto;\n    margin-right: auto\" />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":660,"y":1000,"wires":[[]]},{"id":"a00dcaf1.0e37a8","type":"ui_template","z":"e197d001.cd2f8","group":"fa439bae.39a078","name":"Imagen plantin 2","order":1,"width":0,"height":0,"format":"<img src=\"/{{msg.payload}}\" \nstyle=\"width: 78px; height: 78px; margin-left: auto;\n    margin-right: auto\" />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":660,"y":1140,"wires":[[]]},{"id":"cf6fdcec.68cbb8","type":"ui_template","z":"e197d001.cd2f8","group":"e33eb307.5ec86","name":"Imagen plantin 3","order":1,"width":0,"height":0,"format":"<img src=\"/{{msg.payload}}\" \nstyle=\"width: 78px; height: 78px; margin-left: auto;\n    margin-right: auto\" />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":660,"y":1280,"wires":[[]]},{"id":"993e9196.80d528","type":"mqtt in","z":"e197d001.cd2f8","name":"","topic":"robot/vision/imagen1/ruta","qos":"1","datatype":"auto","broker":"f7ee2fac.70559","x":170,"y":1000,"wires":[["666090f6.0b8bb"]]},{"id":"867ef52e.2d0878","type":"mqtt in","z":"e197d001.cd2f8","name":"","topic":"robot/vision/imagen2/ruta","qos":"1","datatype":"auto","broker":"f7ee2fac.70559","x":170,"y":1140,"wires":[["d9572859.2a688"]]},{"id":"a8680f85.00453","type":"mqtt in","z":"e197d001.cd2f8","name":"","topic":"robot/vision/imagen3/ruta","qos":"1","datatype":"auto","broker":"f7ee2fac.70559","x":170,"y":1280,"wires":[["c0a9ec2c.8cdb78"]]},{"id":"62cba419.714b74","type":"mqtt in","z":"e197d001.cd2f8","name":"","topic":"robot/vision/imagen1/calidad","qos":"1","datatype":"auto","broker":"f7ee2fac.70559","x":180,"y":1060,"wires":[["b4feaba3.067898"]]},{"id":"b4feaba3.067898","type":"ui_text","z":"e197d001.cd2f8","group":"bec0768f.7d07d8","order":2,"width":0,"height":0,"name":"","label":"Calidad: ","format":"{{msg.payload}}","layout":"row-center","x":580,"y":1060,"wires":[]},{"id":"579c359c.226994","type":"mqtt in","z":"e197d001.cd2f8","name":"","topic":"robot/vision/imagen2/calidad","qos":"1","datatype":"auto","broker":"f7ee2fac.70559","x":180,"y":1200,"wires":[["f066b899.8e96f"]]},{"id":"f066b899.8e96f","type":"ui_text","z":"e197d001.cd2f8","group":"fa439bae.39a078","order":2,"width":0,"height":0,"name":"","label":"Calidad: ","format":"{{msg.payload}}","layout":"row-center","x":580,"y":1200,"wires":[]},{"id":"a8f4eceb.9afcb","type":"mqtt in","z":"e197d001.cd2f8","name":"","topic":"robot/vision/imagen3/calidad","qos":"1","datatype":"auto","broker":"f7ee2fac.70559","x":180,"y":1340,"wires":[["c628d9e5.e4eee"]]},{"id":"c628d9e5.e4eee","type":"ui_text","z":"e197d001.cd2f8","group":"e33eb307.5ec86","order":2,"width":0,"height":0,"name":"","label":"Calidad: ","format":"{{msg.payload}}","layout":"row-center","x":580,"y":1340,"wires":[]},{"id":"92e5558e.281f4","type":"ui_text","z":"e197d001.cd2f8","group":"171e1f2.12ae0e1","order":0,"width":0,"height":0,"name":"","label":"Valor de la alarma","format":"{{msg.payload}}","layout":"row-center","x":570,"y":1420,"wires":[]},{"id":"9dd701ca.8f4478","type":"ui_template","z":"e197d001.cd2f8","group":"a1dc3ee8.c248e","name":"Logo / Clock","order":0,"width":0,"height":0,"format":"<script id=\"clockScript1\" type=\"text/javascript\">\n    var clockInterval;\n    $(function () {\n        if (clockInterval) return;\n\n        //add logo\n        var div1 = $('<div style=\"margin: 10px auto; display: flex; align-items:center;\"><img src=\"/upao.png\" style=\"width: 89px; margin-right: 10px\">LABINM ROBÓTICA</div>');\n        var logo = new Image();\n\n        logo.src = '/imagen1.jpg'\n        logo.height = 45;\n        div1[0].style.margin = '10px auto';\n\n        //div1.append(logo);\n\n        //add clock\n        var div2 = $('<div/>');\n        var p = $('<p/>');\n\n        div2.append(p);\n        div2[0].style.margin = '5px';\n\n        function displayTime() {\n            p.text(new Date().toLocaleString());\n        }\n        \n        clockInterval = setInterval(displayTime, 1000);\n\n        //add to toolbar when it's available\n        var addToToolbarTimer;\n        \n        function addToToolbar() {\n            var toolbar = $('.md-toolbar-tools');\n            \n            if(!toolbar.length) return;\n            \n            toolbar.append(div1);\n            toolbar.append(div2);\n            clearInterval(addToToolbarTimer);\n        }\n        addToToolbarTimer = setInterval(addToToolbar, 100);\n    });\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":250,"y":20,"wires":[[]]},{"id":"c1f1aa6d.ce4508","type":"inject","z":"e197d001.cd2f8","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"question.jpeg","payloadType":"str","x":410,"y":1180,"wires":[["a00dcaf1.0e37a8"]]},{"id":"b91ca5d9.301e9","type":"inject","z":"e197d001.cd2f8","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"question.jpeg","payloadType":"str","x":410,"y":1320,"wires":[["cf6fdcec.68cbb8"]]},{"id":"ce52e63a.b46ee","type":"inject","z":"e197d001.cd2f8","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":290,"y":160,"wires":[["a2c93cec.2745e"]]},{"id":"86f24526.7d94a","type":"inject","z":"e197d001.cd2f8","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":290,"y":340,"wires":[["a1ad4d82.30435"]]},{"id":"9a9cee51.cee9c8","type":"inject","z":"e197d001.cd2f8","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":290,"y":540,"wires":[["b4e0c2c5.cbf93"]]},{"id":"64d048b4.c2bdb","type":"inject","z":"e197d001.cd2f8","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":290,"y":740,"wires":[["5f3367e3.0e94f"]]},{"id":"9faed644.4b71c","type":"comment","z":"e197d001.cd2f8","name":"Imagenes de los plantines","info":"","x":110,"y":940,"wires":[]},{"id":"9f28f81a.0016c","type":"comment","z":"e197d001.cd2f8","name":"Bandejas","info":"","x":60,"y":60,"wires":[]},{"id":"1c92e6ae.f1c8b9","type":"function","z":"e197d001.cd2f8","name":"","func":"msg.payload = \"plantin1.png?r=\" + (new Date().getTime());\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1000,"wires":[["26d9fad2.30ad8e"]]},{"id":"a6c12050.f8fd08","type":"inject","z":"e197d001.cd2f8","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"question.jpeg","payloadType":"str","x":430,"y":1040,"wires":[["26d9fad2.30ad8e"]]},{"id":"e6add34e.9638f8","type":"function","z":"e197d001.cd2f8","name":"","func":"msg.payload = \"plantin2.png?r=\" + (new Date().getTime());\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1140,"wires":[["a00dcaf1.0e37a8"]]},{"id":"e632c27e.6908a8","type":"function","z":"e197d001.cd2f8","name":"","func":"msg.payload = \"plantin3.png?r=\" + (new Date().getTime());\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1280,"wires":[["cf6fdcec.68cbb8"]]},{"id":"666090f6.0b8bb","type":"fs-ops-copy","z":"e197d001.cd2f8","name":"","sourcePath":"/home/plantinator/simulador/images","sourcePathType":"str","sourceFilename":"payload","sourceFilenameType":"msg","destPath":"/home/plantinator/nodered-static","destPathType":"str","destFilename":"plantin1.png","destFilenameType":"str","link":false,"overwrite":true,"x":360,"y":1000,"wires":[["1c92e6ae.f1c8b9"]]},{"id":"c0a9ec2c.8cdb78","type":"fs-ops-copy","z":"e197d001.cd2f8","name":"","sourcePath":"/home/plantinator/simulador/images","sourcePathType":"str","sourceFilename":"payload","sourceFilenameType":"msg","destPath":"/home/plantinator/nodered-static","destPathType":"str","destFilename":"plantin3.png","destFilenameType":"str","link":false,"overwrite":true,"x":360,"y":1280,"wires":[["e632c27e.6908a8"]]},{"id":"d9572859.2a688","type":"fs-ops-copy","z":"e197d001.cd2f8","name":"","sourcePath":"/home/plantinator/simulador/images","sourcePathType":"str","sourceFilename":"payload","sourceFilenameType":"msg","destPath":"/home/plantinator/nodered-static","destPathType":"str","destFilename":"plantin2.png","destFilenameType":"str","link":false,"overwrite":true,"x":360,"y":1140,"wires":[["e6add34e.9638f8"]]},{"id":"6adf7ffd.64ab38","type":"ui_group","name":"Bandeja Clase A","tab":"95748c0d.58757","order":2,"disp":true,"width":"5","collapse":false},{"id":"8a89ea98.bff1c8","type":"ui_group","name":"Bandeja Clase B","tab":"95748c0d.58757","order":3,"disp":true,"width":"5","collapse":false},{"id":"1c8ffd79.a393bb","type":"ui_group","name":"Bandeja Alimentadora","tab":"95748c0d.58757","order":1,"disp":true,"width":"5","collapse":false},{"id":"20111312.93dc2c","type":"ui_group","name":"Bandeja Clase C","tab":"95748c0d.58757","order":4,"disp":true,"width":"5","collapse":false},{"id":"f7ee2fac.70559","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bec0768f.7d07d8","type":"ui_group","name":"Imagen plantín 1","tab":"95748c0d.58757","order":5,"disp":true,"width":"5","collapse":false},{"id":"fa439bae.39a078","type":"ui_group","name":"Imagen plantín 2","tab":"95748c0d.58757","order":6,"disp":true,"width":"5","collapse":false},{"id":"e33eb307.5ec86","type":"ui_group","name":"Imagen plantín 3","tab":"95748c0d.58757","order":7,"disp":true,"width":"5","collapse":false},{"id":"171e1f2.12ae0e1","type":"ui_group","name":"Alarmas","tab":"95748c0d.58757","order":8,"disp":true,"width":5,"collapse":false},{"id":"a1dc3ee8.c248e","type":"ui_group","name":"Default","tab":"3e2b0c25.d9f7c4","order":1,"disp":false,"width":"24","collapse":false},{"id":"95748c0d.58757","type":"ui_tab","name":"Bandejas","icon":"filter_vintage","order":1,"disabled":false,"hidden":false},{"id":"3e2b0c25.d9f7c4","type":"ui_tab","name":"Home","icon":"dashboard","order":5}]