dashboard/Google_IoT_manual.json
[{"id":"83261a1c.f79c98","type":"tab","label":"Google IoT manual","disabled":false,"info":""},{"id":"aeb55cc9.9d873","type":"google-cloud-iot telemetry-send","z":"83261a1c.f79c98","projectId":"labinmiot","region":"us-central1","registryId":"Robotica","deviceId":"Mensajes","subfolder":"","name":"","privateKey":"","transport":"MQTT","x":530,"y":140,"wires":[["cebd80ba.f6851"]]},{"id":"82d48668.403358","type":"inject","z":"83261a1c.f79c98","name":"Sign and Validate","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[["110bee7b.c33992"]]},{"id":"110bee7b.c33992","type":"template","z":"83261a1c.f79c98","name":"Alimentadora","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n\"topic\": \"robot/bandejas/alimentadora/cantidad\",\n\"valor\": \"18\"\n}\n\n","output":"json","x":330,"y":140,"wires":[["aeb55cc9.9d873"]]},{"id":"cebd80ba.f6851","type":"debug","z":"83261a1c.f79c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":140,"wires":[]},{"id":"939f7898.bf53e8","type":"inject","z":"83261a1c.f79c98","name":"Sign and Validate","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":200,"wires":[["238c4bf.31eb8b4"]]},{"id":"238c4bf.31eb8b4","type":"template","z":"83261a1c.f79c98","name":"Clase A,B,C","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n\"topic\": \"robot/bandejas/claseA/cantidad\", \n\"valor\": \"11\"\n}\n\n","output":"json","x":330,"y":200,"wires":[["aeb55cc9.9d873"]]},{"id":"ce7ffabf.e19c98","type":"inject","z":"83261a1c.f79c98","name":"Sign and Validate","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":260,"wires":[["6858bf48.d775f"]]},{"id":"6858bf48.d775f","type":"template","z":"83261a1c.f79c98","name":"IA","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n\"topic\": \"robot/vision/imagen1/calidad\", \n\"valor\": \"A\"\n}\n\n","output":"json","x":310,"y":260,"wires":[["aeb55cc9.9d873"]]},{"id":"2481d5ec.88385a","type":"comment","z":"83261a1c.f79c98","name":"Update Google Labinm key when imported","info":"Ejecutamos una vez para que se queden grabadas nuestras credenciales","x":560,"y":100,"wires":[]},{"id":"7282a948.943868","type":"comment","z":"83261a1c.f79c98","name":"Módulo para enviar peticiones manuales Google Cloud","info":"","x":220,"y":40,"wires":[]}]