dashboard/Parametros_IA.json
[{"id":"1ad4a153.c336bf","type":"tab","label":"Parametros IA","disabled":false,"info":""},{"id":"ffad28cd.c9c538","type":"mqtt out","z":"1ad4a153.c336bf","name":"","topic":"robot/vision/ia/prueba","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f7ee2fac.70559","x":600,"y":360,"wires":[]},{"id":"5ebe882f.82e128","type":"ui_button","z":"1ad4a153.c336bf","name":"","group":"df2b54d.990d1a8","order":4,"width":0,"height":0,"passthru":false,"label":"Iniciar prueba","tooltip":"","color":"","bgcolor":"","icon":"","payload":"iniciar","payloadType":"str","topic":"","x":160,"y":360,"wires":[["ffad28cd.c9c538"]]},{"id":"c7b188cd.7d3fd8","type":"comment","z":"1ad4a153.c336bf","name":"Boton prueba","info":"","x":110,"y":280,"wires":[]},{"id":"36151f5e.fe90f","type":"ui_form","z":"1ad4a153.c336bf","name":"","label":"","group":"687950ff.56259","order":1,"width":"0","height":"0","options":[{"label":"G3min","value":"g3min","type":"number","required":true,"rows":null},{"label":"G3max","value":"g3max","type":"number","required":true,"rows":null},{"label":"G2min","value":"g2min","type":"number","required":true,"rows":null},{"label":"G2max","value":"g2max","type":"number","required":true,"rows":null},{"label":"G1min","value":"g1min","type":"number","required":true,"rows":null},{"label":"G1max","value":"g1max","type":"number","required":true,"rows":null},{"label":"Score threshold","value":"score_threshold","type":"number","required":true,"rows":null},{"label":"Left threshold","value":"left_threshold","type":"number","required":true,"rows":null},{"label":"Right threshold","value":"right_threshold","type":"number","required":true,"rows":null}],"formValue":{"g3min":"","g3max":"","g2min":"","g2max":"","g1min":"","g1max":"","score_threshold":"","left_threshold":"","right_threshold":""},"payload":"","submit":"submit","cancel":"","topic":"","x":390,"y":100,"wires":[["8bd69a3.079ed68"]]},{"id":"efa0343c.1a16a8","type":"inject","z":"1ad4a153.c336bf","name":"Valores por defecto","repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"{\"g3min\":60,\"g3max\":175,\"g2min\":175,\"g2max\":275,\"g1min\":275,\"g1max\":400,\"hmin\":194,\"hmax\":232,\"score_threshold\":0.98,\"left_threshold\":2614,\"right_threshold\":4676}","payloadType":"json","x":190,"y":140,"wires":[["36151f5e.fe90f"]]},{"id":"8bd69a3.079ed68","type":"mqtt out","z":"1ad4a153.c336bf","name":"","topic":"robot/vision/ia/parametros","qos":"1","retain":"false","broker":"f7ee2fac.70559","x":590,"y":100,"wires":[]},{"id":"88ad32df.d78c6","type":"mqtt in","z":"1ad4a153.c336bf","name":"","topic":"robot/vision/ia/parametros","qos":"1","datatype":"auto","broker":"f7ee2fac.70559","x":190,"y":100,"wires":[["36151f5e.fe90f"]]},{"id":"9ace9a36.223428","type":"comment","z":"1ad4a153.c336bf","name":"Formulario","info":"","x":100,"y":40,"wires":[]},{"id":"2fbe107c.8ba4f","type":"mqtt in","z":"1ad4a153.c336bf","name":"","topic":"robot/#","qos":"1","datatype":"auto","broker":"f7ee2fac.70559","x":130,"y":680,"wires":[["13cab18c.6a054e","844bfe3d.8bd37"]]},{"id":"d83baff3.bc285","type":"comment","z":"1ad4a153.c336bf","name":"Lista de mensajes recibidos","info":"","x":160,"y":640,"wires":[]},{"id":"13cab18c.6a054e","type":"function","z":"1ad4a153.c336bf","name":"","func":"function addZero(i) {\n  if (i < 10) {\n    i = \"0\" + i;\n  }\n  return i;\n}\n\nvar t = new Date();\nt.setHours(t.getHours()-5);\nvar h = addZero(t.getHours());\nvar m = addZero(t.getMinutes());\nvar s = addZero(t.getSeconds());\nvar previousmessage = context.get('previousmsg');\nvar result = h + \":\" + m + \":\" + s + \": \" + msg.topic + \": \" + msg.payload;\nif (previousmessage !== undefined) {\n    result = result + \"\\n\" + previousmessage\n}\ncontext.set('previousmsg', result);\nmsg.payload = result\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":680,"wires":[["8612569c.4047d8"]]},{"id":"8612569c.4047d8","type":"ui_template","z":"1ad4a153.c336bf","group":"2f2a9696.13595a","name":"","order":0,"width":0,"height":0,"format":"<div ng-value=\"\nrecibido=msg.payload;\n\">\nMensajes recibidos al topic \"robot/\"\n<textarea style=\"height: 300px; width: 100%\">\n{{recibido}}\n</textarea>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":640,"y":680,"wires":[[]]},{"id":"a68ac223.91aa2","type":"ui_template","z":"1ad4a153.c336bf","group":"687950ff.56259","name":"Hoja estilos formulario","order":1,"width":0,"height":0,"format":"<style>\n\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":460,"y":40,"wires":[[]]},{"id":"1d500d7e.ab8913","type":"google-cloud-iot telemetry-send","z":"1ad4a153.c336bf","projectId":"labinmiot","region":"us-central1","registryId":"Robotica","deviceId":"Mensajes","subfolder":"","name":"","privateKey":"","transport":"MQTT","x":410,"y":780,"wires":[["27feb126.64f05e"]]},{"id":"27feb126.64f05e","type":"debug","z":"1ad4a153.c336bf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":780,"wires":[]},{"id":"f9b2a64b.aaf718","type":"comment","z":"1ad4a153.c336bf","name":"Iot data to Google","info":"","x":210,"y":740,"wires":[]},{"id":"844bfe3d.8bd37","type":"function","z":"1ad4a153.c336bf","name":"","func":"msg.payload = { topic : msg.topic, valor: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":780,"wires":[["1d500d7e.ab8913"]]},{"id":"bae27633.e3a3d8","type":"ui_dropdown","z":"1ad4a153.c336bf","name":"","label":"Algoritmo","tooltip":"","place":"Seleccionar","group":"df2b54d.990d1a8","order":1,"width":"6","height":"3","passthru":false,"multiple":false,"options":[{"label":"Paulo1","value":"Paulo1","type":"str"},{"label":"Paulo2","value":"Paulo2","type":"str"},{"label":"Erick1","value":"Erick1","type":"str"},{"label":"Erick2","value":"Erick2","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":360,"y":420,"wires":[["f38bd840.d088c8"]]},{"id":"f38bd840.d088c8","type":"mqtt out","z":"1ad4a153.c336bf","name":"","topic":"robot/vision/ia/algoritmo","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f7ee2fac.70559","x":590,"y":420,"wires":[]},{"id":"f7ee2fac.70559","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"df2b54d.990d1a8","type":"ui_group","name":"Iniciar prueba","tab":"b6634be2.aaf908","order":6,"disp":true,"width":"6","collapse":false},{"id":"687950ff.56259","type":"ui_group","name":"Parametros","tab":"b6634be2.aaf908","order":5,"disp":true,"width":"6","collapse":false},{"id":"2f2a9696.13595a","type":"ui_group","name":"Datos recibidos","tab":"b6634be2.aaf908","order":3,"disp":true,"width":"12","collapse":false},{"id":"b6634be2.aaf908","type":"ui_tab","name":"Vision artificial","icon":"fa-lightbulb-o","order":2,"disabled":false,"hidden":false}]